.header {
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(244, 241, 234, 0.1);
}

/* --- ESTILOS DEL LOGO --- */
.logo {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.logoGroup h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
  letter-spacing: 5px;
  margin: 0;
  color: #F9F7F2;
}

.tagline {
  font-size: 0.6rem;
  letter-spacing: 2px;
  color: #C5A059;
  text-transform: uppercase;
}

/* --- CONTENEDOR DE NAVEGACIÓN --- */
.nav {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Contenedor de cada ítem (<li>) */
.navLi {
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center; /* Ayuda a que el icono del carrito quede centrado */
}

/* --- ESTADOS DE LOS ENLACES (MAGIA DE NAVLINK) --- */

/* 1. Estado Normal (Cuando NO estás en esa página) */
.linkNormal {
  color: #F9F7F2;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

/* 2. Estado Activo (Cuando SÍ estás en esa página) */
.linkActivo {
  color: #C5A059; /* Se pinta con tu color dorado */
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600; /* Un poco más de peso visual */
  /* Le agregamos una línea dorada muy sutil abajo que respeta el estilo analógico */
  border-bottom: 1px solid #C5A059; 
  padding-bottom: 4px; 
}

/* 3. Efecto Hover (Cuando pasas el mouse por encima) */
.linkNormal:hover {
  color: #C5A059;
}